@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

* {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	background: #eaeff9;
	padding: 170px 0 0;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.form {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 2em #b2c4db;
	padding: 100px 30px 30px;
}

/*FLIPCARD*/
.flip-card {
	perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner, .fliped {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: -110px;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.card {
	background: #AE9664;
	color: #E5C992;
	text-shadow: 2px 2px 1px #786544;
	border-radius: 10px;
	padding: 20px;
	max-width: 400px;
	height: 256px;
	margin: -150px auto 20px auto;
	box-shadow: 0 5px 1.2em #bfae8a;
	font-size: 1.2em;
	font-family: 'Share Tech Mono', monospace;
	position: relative;
}

.card-num {
	font-size: 1.8em;
	margin: 110px 0 10px 0;
}

.card-date {
	font-size: 1.55em;
}

.card-date #valid-thru {
	display: inline-block;
	font-size: 0.35em;
	padding-right: 5px;
	color: #fff;
	text-shadow: none;
	font-family: 'Roboto Condensed', sans-serif;
}

.card-holder {
	text-transform: uppercase;
	margin-right: 100px;
}

.card-cvv {
	background: #fff;
	border-radius: 3px;
	width: 60%;
	margin-top: 10px;
	padding: 10px;
	text-align: right;
	color: #000;
	text-shadow: none;
}

.selected {
	box-shadow: 0 0 10px #514223, 0 0 5px #e8bf5b;
	border-radius: 5px;
	transform: scale(1.05);
	transition: 0.3s;
	background: rgba(0,0,0,.4);
}

.card-logo {
	position: absolute;
	right: 20px;
	top: 20px;
	color: #7F653D;
	font-weight: bold;
	text-shadow: -2px -2px 1px #a48862;
	font-family: 'Roboto Condensed', sans-serif;
}

.card-logo span {
	display: block;
	font-size: 1.8em;
	margin-top: -8px;
}

.master-card {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.form-input {
	padding: 10px;
}

.form-input label {
	color: #1884ae;
	padding: 5px;
	display: block;
}

.form-input input, .form-input select {
	font-size: 1em;
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	-webkit-appearance: none;
	color: #555f7d;
	border: 2px solid #e6e6e6;
	box-shadow: 0 0 5px #f9f7f7;
	transition: 0.3s;
}

.form-input input:focus, .form-input select:focus {
	border: 2px solid #a4d0e3;
	box-shadow: 0 0 10px #cee7ff;
}

.form-input button {
	margin-top: 10px;
	display: block;
	width: 100%;
	font-size: 1.2em;
	padding: 15px;
	border-radius: 10px;
	background: #1475a2;
	color: #fff;
	border: none;
	outline: none;
	box-shadow: 0 5px 0.8em #76afca;
	cursor: pointer;
	transition: 0.3s;
}

.form-input button:hover {
	transform: scale(1.01);
	box-shadow: 0 5px 1.2em #76afca;;
}

.form-flex {
	display: flex;
}

.form-flex .form-input {
	width: calc(100%/3);
}

@media (max-width: 480px) {
	body {
		font-size: 14px;
	}
}
@media (max-width: 430px) {
	.card-num {
		margin: 90px 0 10px 0;
	}
}

.github {
	color: #1475a2;
	display: inline-block;
	padding: 15px;
	text-decoration: none;
}

.github:hover {
	color: #4d2dc1;
	text-decoration: underline;
}